h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
}

.square {
  margin:5px;
  box-sizing:border-box;
  min-width:150px;
  padding:50px 20px;
  background: #C0C0C0;
}

.hidden
{
  display: none;
}